<robot name="robot_rrr_proyecto">

  <!-- Base: disco cilindrico fijo al suelo + columna que eleva el brazo -->
  <link name="base_link">
    <visual>
      <geometry>
        <cylinder radius="0.15" length="0.1"/>
      </geometry>
      <origin xyz="0 0 0.05"/>
      <material name="gris">
        <color rgba="0.4 0.4 0.4 1"/>
      </material>
    </visual>
    <!-- Columna fija: eleva el brazo de z=0.1 a z=0.3 -->
    <visual>
      <geometry>
        <cylinder radius="0.05" length="0.2"/>
      </geometry>
      <origin xyz="0 0 0.2"/>
      <material name="gris_oscuro">
        <color rgba="0.3 0.3 0.3 1"/>
      </material>
    </visual>
  </link>

  <!-- Eslabon 1 (cyan): gira en XY (yaw) para orientar el brazo, l1 = 0.3 m -->
  <link name="shoulder_link">
    <visual>
      <geometry>
        <box size="0.3 0.05 0.05"/>
      </geometry>
      <origin xyz="0.15 0 0"/>
      <material name="cyan">
        <color rgba="0 1 1 1"/>
      </material>
    </visual>
  </link>

  <!-- Eslabon 2 (magenta): se inclina (pitch) para subir/bajar, l2 = 0.3 m -->
  <link name="arm_link">
    <visual>
      <geometry>
        <box size="0.3 0.05 0.05"/>
      </geometry>
      <origin xyz="0.15 0 0"/>
      <material name="magenta">
        <color rgba="1 0 1 1"/>
      </material>
    </visual>
  </link>

  <!-- Eslabon 3 (yellow): se inclina (pitch) para subir/bajar, l3 = 0.3 m -->
  <link name="forearm_link">
    <visual>
      <geometry>
        <box size="0.3 0.05 0.05"/>
      </geometry>
      <origin xyz="0.15 0 0"/>
      <material name="yellow">
        <color rgba="1 1 0 1"/>
      </material>
    </visual>
  </link>

  <!-- Junta 1: yaw alrededor de Z (gira el eslabon cyan, orienta en XY).
       CONTINUA: gira 360 grados libre, sin limite, para alcanzar cualquier
       direccion por el camino mas corto sin atorarse en +-pi. -->
  <joint name="shoulder_joint" type="continuous">
    <parent link="base_link"/>
    <child link="shoulder_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="10.0" velocity="10.0"/>
    <origin xyz="0 0 0.3" rpy="0 0 0"/>
  </joint>

  <!-- Junta 2: pitch alrededor de Y (inclina la viga magenta, sube/baja) -->
  <joint name="arm_joint" type="revolute">
    <parent link="shoulder_link"/>
    <child link="arm_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-3.14" upper="3.14" effort="10.0" velocity="10.0"/>
    <origin xyz="0.3 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Junta 3: pitch alrededor de Y (inclina la viga amarilla, codo) -->
  <joint name="forearm_joint" type="revolute">
    <parent link="arm_link"/>
    <child link="forearm_link"/>
    <axis xyz="0 1 0"/>
    <limit lower="-3.14" upper="3.14" effort="10.0" velocity="10.0"/>
    <origin xyz="0.3 0 0" rpy="0 0 0"/>
  </joint>

</robot>
